.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,
.clearfix:after {content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after {clear:both}
.clearfix {zoom:1}

/* Common CSS */
html {
	font-size: 85%;
	background: url('/static/page-bottom-bg.gif') no-repeat 0 100% #fff;
}
body {
	font: normal 1em/1.3em Calibri, sans-serif;
	background: url('/static/page-top-bg.gif') no-repeat 100% 0 transparent;
	padding-top: 25px;
}
a {
	color: #555;
}
	a:hover {
		color: #222;
	}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}

/* Useful */
.clear-top {
	margin-top: 0 !important;
}
.clear-bottom {
	margin-bottom: : 0 !important;
}
.gray {
	color: #999;
}

/* Project CSS */
#page {
	width: 950px;
	margin: 0 auto;
	padding: 0 25px;
}
#top {
	margin: 0 0 50px;
}
	#top h1 {
		float: left;
		text-indent: -9999px;
		width: 200px;
		height: 60px;
		background: url('/static/sprite.png') 0 -53px transparent;
	}
	#top-phone {
		float: right;
		font-size: 2em;
		color: #1a96d5;
	}
	#top-menu {
		width: 50%;
		height: 60px;
		float: right;
		position: relative;
	}
		#top-menu ul {
			float: left;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		#top-menu li {
			float: left;
			margin-left: 25px;
		}
			#top-menu li,
			#top-menu li a {
				color: #222;
			}
#menu {
	
}
	#menu-main {
		float: left;
	}
		#menu-main ul li {
			float: left;
			color: #fff;
			font-size: 1.2em;
			font-weight: bold;
		}
			#menu-main ul li a,
			#menu-main ul li span {
				padding: 0 12.5px;
				line-height: 25px;
				display: block;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
			}
			#menu-main ul li a {
				color: #222;
			}
			#menu-main ul li .active {
				background-color: #1a96d6;
			}
			#menu-main ul li a.active {
				color: #fff;
			}
			#menu-main-home {
				margin-right: 12.5px;
			}
				#menu-main-home a {
					border: 1px solid #bbb;
					text-decoration: none;
				}
				#menu-main-home a:hover {
					background-color: #eee;
				}
					#menu-main-home a i {
						display: block;
						background: url('/static/sprite.png') no-repeat 0 0 transparent;
						width: 13px;
						height: 13px;
						margin: 6px 0;
					}
	#menu-buttons {
		float: right;
		font-family: Arial, sans-serif;
	}
		#menu-buttons ul li {
			float: left;
			margin-left: 12.5px;
		}
			#menu-buttons ul li a {
				display: block;
				line-height: 25px;
				padding: 0 12.5px;
				background: url('/static/menu-buttons-bg.gif') 0 0 repeat-x;
				text-decoration: none;
				color: #fff;
				text-shadow: 0 -1px 0 #000;
				border: 1px solid #1471a0;
				border-top-color: #1787c0;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
			}
#big-title {
	background: url('/static/big-title-bg.jpg') no-repeat 0 100% #1a96d6;
	color: #fff;
	text-align: center;
	margin: 25px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
	#big-title h1 {
		font: bold 4em/175px Calibri, sans-serif;
	}
	#big-title h1 a {
		color: #fff;
	}
#content {}
	#content p {
		margin: 0 0 25px 0;
	}
	#content h1 {
		font: bold 2em/1em Calibri, serif;
		margin: 0 0 1em;
	}
	#content h2 {
		font: bold 1.5em/1em Calibri, serif;
		margin: 1em 0 0.5em;
	}
	#content-tree {
		float: left;
		width: 200px;
		margin: 0 25px;
	}
		#content-tree ul {
			margin: 0;
			list-style-type: none;
			color: #66ccff;
		}
		#content-tree ul li {
			margin-bottom: 0.5em;
		}
		#content-tree ul.inner {
			margin: 0.5em 0 0 25px !important;
		}
		#content-tree a {
			color: #000;
		}
	#content-main {
		float: left;
		width: 675px;
		margin: 0 25px 0 0;
	}
	#content-main ul {
		margin: 1em 0 1em 2em;
		list-style-type: disc;
	}
		#content-main ul li {
			margin: 0.5em 0;
		}
		#content-main ul ul {
			list-style-type: circle;
		}
#people {
	position: relative;
	margin: 50px 0 25px 0;
	background-color: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
	#people-image {
		position: absolute;
		left: 5%;
		bottom: 0;
		line-height: 0;
	}
	#people-talk {
		width: 700px;
		text-align: center;
		margin-left: 200px;
		padding: 12.5px 0;
	}
		#people-talk h1 {
			font-size: 2em;
			line-height: 1.2em;
			font-weight: bold;
		}
		#people-talk p {
			color: #40298c;
			margin: 0.5em 0;
		}
			#people-talk em {
				font: italic 0.9em Georgia, serif;
				line-height: 25px;
			}
		#people-talk a {
			color: #fff;
			text-shadow: 0 -1px 0 #000;
			text-decoration: none;
			background-color: #1a96d6;
			padding: 5px 12.5px;
			line-height: 25px;
			font-family: Arial, sans-serif;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
		}
#footer {
	margin: 75px 0 25px;
	font-size: 0.9em;
	font-family: Arial, sans-serif;
}
	#footer-logo {
		float: left;
		width: 45px;
		height: 43px;
		margin-right: 15px;
		background: url('/static/sprite.png') 0 -13px transparent;
	}
	#footer-menu {
		float: left;
		width: 890px;
	}
		#footer-menu ul {
			float: left;
		}
		#footer-menu li {
			float: left;
			margin-right: 25px;
			height: 25px;
		}
			#footer-menu p {
				color: #777;
				margin-top: 0.7em;
				float: left;
				white-space: nowrap;
			}
			#footer-menu a {
				color: #777;
			}

/* Index */
#index-content {
	margin: 0 0 25px 0;
}
	#index-gallery {
		line-height: 500px;
		color: #fff;
		font-size: 5em;
		
		margin: 0 0 25px 0;
		height: 500px;
		text-align: center;
		background-color: #584596;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	#index-news {
		width: 275px;
		margin: 0 25px;
		color: #aaa;
		float: left;
	}
		#index-news td {
			padding: 0 5px 25px 0;
		}
		#index-news a {
			color: #4498e0;
		}
		#news-link {
			color: #000 !important;
			line-height: 53px;
			font-size: 1.4em;
		}
	#index-projects {
		width: 623px; /* 625px - 2px border*/
		float: left;
		border: 1px solid #bbb;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
		#index-project-top {
			margin: 12.5px;
			text-align: center;
		}
			#projects-prev,
			#projects-next {
				font-family: Times;
				font-size: 1.5em;
				line-height: 25px;
				display: block;
				width: 25px;
				text-decoration: none;
				text-align: center;
				border: 1px solid #bbb;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				display: none;
			}
			#projects-prev:hover,
			#projects-next:hover {
				background-color: #ddd;
			}
			#projects-prev {
				float: left;
			}
			#projects-next {
				float: right;
			}
			#projects-link {
				color: #000 !important;
				line-height: 25px;
				font-size: 1.4em;
			}
		#index-project-content {
			margin: 12.5px;
		}
			#index-project-content-left,
			#index-project-content-right {
				width: 30%;
				margin: 0 10%;
				text-align: center;
				float: left;
			}
			#index-project-content p {
				margin: 12.5px 0;
			}
			#index-project-content .client-title {
				color: #bbb;
			}
			#index-project-content .project-title {
				color: #000;
				font-size: 1.3em;
				line-height: 1.3em;
			}
			#index-project-content .project-description {
				color: #4498e0;
				font: italic 0.9em Georgia, serif;
			}
			#index-project-content .project-image {
				margin-bottom: 0;
			}

/* News */
#news-list {
	width: 100%;
}
	#news-list td {
		padding: 0 0 25px;
	}
	#news-list td.date {
		width: 220px;
		text-align: right;
		padding-right: 25px;
		color: #999;
	}

/* Reviews */
#reviews-list {}
	#reviews-list .review {
		margin-bottom: 25px;
	}
		#reviews-list .review-left {
			float: left;
			width: 200px;
			margin: 0 25px;
			font-style: italic;
		}
		#reviews-list .review-right {
			float: left;
			width: 675px;
			margin-right: 25px;
		}

/* Licenses and patents */
#licenses-list,
#patents-list {}
	#licenses-list .title,
	#patents-list .title {
		float: left;
		width: 200px;
		margin: 0 25px;
		font-style: italic;
	}
	#licenses-list .items,
	#patents-list .items {
		float: left;
		width: 675px;
		margin-right: 25px;
		margin-bottom: 25px;
	}
		#licenses-list a,
		#patents-list a {
			position: relative;
			display: block;
			float: left;
			margin: 0 12.5px 5px 0;
			border: 5px solid #ddd;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
		}
			#licenses-list .description,
			#patents-list .description {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				font-size: 0.8em;
				background-color: #ddd;
				line-height: 1.2em;
				opacity: 0.8;
				display: none;
			}
			#licenses-list a:hover .description,
			#patents-list a:hover .description {
				display: block;
			}

/* Products */
#products-list {}
	#products-list .category {
		margin-bottom: 25px;
	}
		#products-list .left {
			float: left;
			width: 200px;
			margin: 0 25px;
		}
		#products-list .right {
			float: left;
			width: 675px;
			margin-right: 25px;
			margin-bottom: 25px;
		}