{% extends "base.html" %}
{% load typogrify_tags %}

{% block meta_title %}Новости{% endblock %}

{% block all_content %}
	<div id="news-list">
		{% for item in object_list %}
			<article>
				<time datetime="{{ item.publish_date|date:"Y-m-d" }}" class="gray">{{ item.publish_date|date:"j E, Y" }}</time>
				<header>
					<h2>
						<a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title|typogrify }}</a>
					</h2>
				</header>
			</article>
		{% endfor %}
	</div>
{% endblock %}