{% extends "base.html" %}

{% block meta_title %}Отзывы{% endblock %}

{% block all_content %}
	<div id="reviews-list">
		{% for review in object_list %}
			<section class="clearfix">
				<div class="project">
					<p class="gray">Проект: <a href="{{ review.project.get_absolute_url }}">{{ review.project }}</a></p>
				</div>
				<article>
					<header>
						<h2 class="clear-top">{{ review.short_text }}</h2>
					</header>
					{{ review.text|safe }}
				</article>
			</section>
		{% empty%}
			<p>Отзывов нет. Страницу лучше скрыть...</p>
		{% endfor %}
	</div>
{% endblock %}
