{% extends "base.html" %}

{% block meta_title %}Отзывы{% endblock %}

{% block all_content %}
	<div id="reviews-list">
		{% for review in object_list %}
			<div class="review clearfix">
				<div class="review-left">
					<p>Проект: <a href="{{ review.project.get_absolute_url }}">{{ review.project }}</a></p>
				</div>
				<div class="review-right">
					<h2 class="clear-top">{{ review.short_text }}</h2>
					{{ review.text|safe }}
				</div>
			</div>
		{% empty%}
			<p>Отзывов нет. Страницу лучше скрыть...</p>
		{% endfor %}
	</div>
{% endblock %}
