{% load compress pages_tags typogrify_tags %}{% spaceless %}<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %}{% block meta_title_separator %} / {% endblock %}{{ settings.SITE_TITLE }}{% endif %}</title>
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
		<meta name="description" content="{% block meta_description %}{% endblock %}" />

		{% compress css %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
			<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		{% endcompress %}

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="page">
			<div id="top" class="clearfix">
				<a href="{% url home %}" title="{{ settings.SITE_TITLE }}">
					<h1>{{ settings.SITE_TITLE }}</h1>
				</a>
				<div id="top-menu">
					<div id="top-phone"><b>+7 492 229-03-56</b></div>
					{% page_menu "pages/menus/top-right.html" %}
				</div>
			</div>
			<div id="menu" class="clearfix">
				<div id="menu-main">
					{% page_menu "pages/menus/top-left.html" %}
				</div>
				<div id="menu-buttons">
					{% page_menu "pages/menus/top-right-buttons.html" %}
				</div>
			</div>

			{% block big_title %}
				<div id="big-title">
					{% for page in page_branch %}
						{% if page.is_primary and page.is_current_or_ascendant %}
							{% if request.path == page.get_absolute_url %}
								<h1>{{ page.title }}</h1>
							{% else %}
								<h1><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h1>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			{% endblock %}

			<div id="content" class="clearfix">
				{% block all_content %}
					<div id="content-tree">
						{% page_menu "pages/menus/left-tree.html" %}
						<br />
					</div>
					<div id="content-main">
						{% block main %}{% endblock %}
					</div>
				{% endblock %}
			</div>

			{% if human %}
				<div id="people">
					<div id="people-image">
						<img src="{{ human.image.url }}" alt="{{ human.full_name }}" />
					</div>
					<div id="people-talk">
						<h1>&laquo;{{ human.quote|typogrify }}&raquo;</h1>
						<p>
							<em>&mdash; {{ human.full_name }}. {{ human.position }}.</em>
						</p>
						{% if human.email %}
							<p>
								<a href="mailto:{{ human.email }}">Написать</a>
							</p>
						{% endif %}
					</div>
				</div>
			{% endif %}

			<div id="footer" class="clearfix">
				<div id="footer-logo"></div>
				<div id="footer-menu">
					{% page_menu "pages/menus/footer.html" %}
					<p>&copy; {{ settings.SITE_TITLE }}, {% now "Y" %}. Все права защищены.</p>
				</div>
			</div>
		</div>
	</body>
</html>{% endspaceless %}