{% load compress pages_tags %}{% spaceless %}<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} / {{ settings.SITE_TITLE }}{% endif %}</title>
		
		{% compress css %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
			<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		{% endcompress %}
		
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="page">
			<div id="top" class="clearfix">
				<a href="{% url home %}" title="{{ settings.SITE_TITLE }}">
					<h1>{{ settings.SITE_TITLE }}</h1>
				</a>
				<div id="top-menu">
					<div id="top-phone">+7 492 229-03-56</div>
					{% page_menu "pages/menus/top-right.html" %}
				</div>
			</div>
			<div id="menu" class="clearfix">
				<div id="menu-main">
					{% page_menu "pages/menus/top-left.html" %}
				</div>
				<div id="menu-buttons">
					{% page_menu "pages/menus/top-right-buttons.html" %}
				</div>
			</div>
			<div id="big-title">
				{% for page in page_branch %}
					{% if page.is_primary and page.is_current_or_ascendant %}
						{% if request.path == page.get_absolute_url %}
							<h1>{{ page.title }}</h1>
						{% else %}
							<h1><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h1>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div id="content" class="clearfix">
				{% block all_content %}
					<div id="content-tree">
						{% page_menu "pages/menus/left-tree.html" %}
						<br />
					</div>
					<div id="content-main">
						{% block main %}{% endblock %}
					</div>
				{% endblock %}
			</div>
			<div id="footer" class="clearfix">
				<div id="footer-logo"></div>
				<div id="footer-menu">
					{% page_menu "pages/menus/footer.html" %}
					<p>&copy; НВА Центр, {% now "Y" %}. Все права защищены.</p>
				</div>
			</div>
		</div>
	</body>
</html>{% endspaceless %}