{% extends "base.html" %}
{% load typogrify_tags %}

{% block meta_title_separator %}{% endblock %}

{% block big_content %}{% endblock %}

{% block all_content %}
	<div id="index-content" class="clearfix">
		<div id="index-news">
			<a href="{% url news_index %}" id="news-link">Новости</a>
			<table>
				{% for item in news %}
					<tr>
						<td>&mdash;&nbsp;</td>
						<td>
							<a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title|typogrify }}</a>
							<br />
							<span>{{ item.publish_date|date:"j E, Y" }}</span>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div id="index-projects">
			<div id="index-project-top" class="clearfix">
				<a href="#" id="projects-prev">&larr;</a>
				<a href="/projects/" id="projects-link">Проекты</a>
				<a href="#" id="projects-next">&rarr;</a>
			</div>
			<div id="index-project-content">
				<div id="index-project-content-left">
				</div>
				<div id="index-project-content-right">
				</div>
			</div>
		</div>
	</div>
{% endblock %}