{% extends "base.html" %}
{% load typogrify_tags thumbnail %}

{% block meta_title_separator %}{% endblock %}

{% block all_content %}{% endblock %}

{% block big_title %}
	<div id="index-content" class="clearfix">
		{% if banners %}
			<div id="index-banners" class="swipe clearfix">
				<div class="swipe-wrap">
					{% for b in banners %}
						<div class="panel" id="banner_{{ b.pk }}">
							<div class="panel-left">
								<h1>{{ b|safe }}</h1>
							</div>
							<div class="panel-right">
								{% thumbnail b.get_image "275x200" format="PNG" upscale=False as img %}
									<img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ b }}" />
								{% endthumbnail %}

								<h2>{{ b.medium_title|safe }}</h2>
								<p>{{ b.small_text|safe }}</p>

								{% if b.get_file %}
									<a href="{{ b.get_file.url }}" class="download">Скачать</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div id="index-banners-prev"></div>
			<div id="index-banners-next"></div>
		{% endif %}

		{% if news %}
			<div id="index-news">
				<a href="{% url "news_index" %}" id="news-link">Новости</a>
				<table>
					{% for item in news %}
						<tr>
							<td>&mdash;&nbsp;</td>
							<td>
								<a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title|typogrify }}</a>
								<br />
								<span class="gray">{{ item.publish_date|date:"j E, Y" }}</span>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}

		{% if projects %}
			<div id="index-projects">
				<div id="index-project-top" class="clearfix">
					<a href="#" id="projects-prev">&larr;</a>
					<a href="/projects/" id="projects-link">Проекты</a>
					<a href="#" id="projects-next">&rarr;</a>
				</div>
				<div id="index-project-content" class="clearfix">
					<div id="index-project-content-left">
						<p class="project-image">
							<img src="{{ projects.0.client.image.url }}" alt="{{ projects.0.title }}" />
						</p>
						<p class="client-title gray">{{ projects.0.client.title }}</p>
						<p class="project-title">
							<a href="{{ projects.0.get_absolute_url }}">{{ projects.0.title }}</a>
						</p>
						<p class="project-description">{{ projects.0.description }}</p>
					</div>
					<div id="index-project-content-right">
						<p class="project-image">
							<img src="{{ projects.1.client.image.url }}" alt="{{ projects.1.title }}" />
						</p>
						<p class="client-title gray">{{ projects.1.client.title }}</p>
						<p class="project-title">
							<a href="{{ projects.1.get_absolute_url }}">{{ projects.1.title }}</a>
						</p>
						<p class="project-description">{{ projects.1.description }}</p>
					</div>
				</div>
			</div>
		{% endif %}

	</div>
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	{% if banners|length < 2 %}
		#mouseSwipe {
			cursor: default !important;
		}
	{% endif %}
	{% for b in banners %}
		{% thumbnail b.bg_image "950x500" as im %}
			#banner_{{ b.pk }} {
				background: url("{{ im.url }}") 50% 0;
			}
		{% endthumbnail %}
	{% endfor %}

	.swipe {
		overflow: hidden;
		visibility: hidden;
		position: relative;
	}
	.swipe-wrap {
		overflow: hidden;
		position: relative;
	}
	.swipe-wrap > div.panel {
		float:left;
		width:100%;
		position: relative;
	}
{% endblock %}

{% block extra_js %}
	{% if banners|length > 1 %}
		var mySwipe;

		$(function () {
			window.mySwipe = new Swipe(document.getElementById('index-banners'), {
				startSlide: 2,
				speed: 400,
				auto: 3000,
				continuous: true,
				disableScroll: false,
				stopPropagation: false,
				callback: function(index, elem) {},
				transitionEnd: function(index, elem) {}
			});
			$('#index-banners-prev').appendTo($('#index-banners')).on('click', function(){
				window.mySwipe.prev();
			});
			$('#index-banners-next').appendTo($('#index-banners')).on('click', function(){
				window.mySwipe.next();
			});
		});
	{% endif %}
{% endblock %}
