{% extends "base.html" %}
{% load thumbnail %}


{% block meta_title %}Лицензии и патенты{% endblock %}

{% block all_content %}
	<div id="licenses-list" class="clearfix">
		<div class="title">
			<h2 class="clear-top">Лицензии</h2>
		</div>
		<div class="items">
			{% for i in licenses %}
				{% thumbnail i.image "x200" as im %}
					<a href="{{ i.image.url }}" rel="group-1" title="{{ i.title }}">
						<div class="description">{{ i.title }}</div>
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ i.title }}" />
					</a>
				{% endthumbnail %}
			{% endfor %}
		</div>
	</div>

	<div id="patents-list" class="clearfix">
		<div class="title">
			<h2 class="clear-top">Патенты</h2>
		</div>
		<div class="items">
			{% for i in patents %}
				{% thumbnail i.image "200x200" as im %}
					<a href="{{ i.image.url }}" rel="group-2">
						<div class="description">{{ i.title }}</div>
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ i.title }}" />
					</a>
				{% endthumbnail %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	$(function(){
		$(".items a").fancybox();
	});
{% endblock %}
