{% extends "base.html" %}
{% load typogrify_tags thumbnail pages_tags %}


{% block meta_title %}{{ product.title }}{% endblock %}

{% block main %}
	{% if form_is_ok %}
		<header>
			<h2>Спасибо</h2>
		</header>
		<p>Мы отправили ваш вопрос нашему менеджеру, он свяжется с вами в ближайшее время.</p>
	{% endif %}

	<article>
		<header>
			<h1>{{ product.title|typogrify }}</h1>
		</header>
		{{ product.text|safe|typogrify }}
	</article>

	<div>
		{% if not form_is_ok %}
			<header>
				<h2>Задать вопрос</h2>
			</header>
			<form method="post" action=".">{% csrf_token %}
				<ul id="work-form">
					{{ contact_form.as_ul }}
				</ul>
				<input type="submit" value="Отправить" id="work-form-submit" />
			</form>
		{% endif %}
	</div>

	<section id="product-related">
		{% thumbnail product.image "200" format="PNG" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }}" />
		{% endthumbnail %}

		{% if product.newsitem_set.exists %}
			<header>
				<h2>Новости о продукте</h2>
			</header>
			<div id="products-related-news">
				{% for news in product.newsitem_set.all %}
					<article>
						<time class="gray" datetime="{{ news.publish_date|date:"Y-m-d" }}">{{ news.publish_date|date:"j E, Y" }}</time>
						<header>
							<h3>
								<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
							</h3>
						</header>
					</article>
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
