{% extends "base.html" %}
{% load typogrify_tags %}


{% block meta_title %}Продукты{% endblock %}

{% block all_content %}
	<div id="products-list">
		{% for category in object_list %}
			<article class="clearfix">
				<header>
					<h2 class="clear-top">{{ category.title|typogrify }}</h2>
				</header>
				<section>
					{% for product in category.product_set.all %}
						<header>
							<h3>
								<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
							</h3>
						</header>
					{% endfor %}
				</section>
			</article>
		{% empty%}
			<p></p>
		{% endfor %}
	</div>
{% endblock %}
