{% extends "base.html" %}
{% load typogrify_tags thumbnail %}


{% block meta_title %}{{ product.title }}{% endblock %}

{% block left_tree_menu %}
	{% thumbnail product.image "x175" as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }}" />
	{% endthumbnail %}
        
        {% if product.newsitem_set.exists %}
            <h2>Новости о продукте</h2>
            <ul>
                {% for news in product.newsitem_set.all %}
                    <li><span class="gray">{{ news.publish_date|date:"j E, Y" }}<br /></span><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}


{% block main %}
	<h1>{{ product.title|typogrify }}</h1>
	{{ product.text|safe|typogrify }}
{% endblock %}
