{% extends "base.html" %}
{% load typogrify_tags %}


{% block meta_title %}{{ service.title }}{% endblock %}

{% block left_tree_menu %}
{% endblock %}


{% block main %}
	{% if form_is_ok %}
		<header>
			<h2>Спасибо</h2>
		</header>
		<p>Мы отправили ваш вопрос нашему менеджеру, он свяжется с вами в ближайшее время.</p>
	{% endif %}
	<article>
		<header>
			<h1>{{ service.title|typogrify }}</h1>
		</header>
		{{ service.text|safe|typogrify }}
	</article>

	<div>
		{% if not form_is_ok %}
			<header>
				<h2>Задать вопрос</h2>
			</header>
			<form method="post" action=".">{% csrf_token %}
				<ul id="work-form">
					{{ contact_form.as_ul }}
				</ul>
				<input type="submit" value="Отправить" id="work-form-submit" />
			</form>
		{% endif %}
	</div>
{% endblock %}
